/* HTML reset */
html, body, canvas {
  padding: 0;
  margin: 0;
  color: #000000;
}
/* Typography reset */
h1, h2, h3, h4, h5, h6, p, ul, ol, span {
  margin: 0;
  padding: 0;
}
/* Form styles */
label, input {
  display: block;
}
/* Typography styles */
h2 {
  margin: 0 0 0.5rem 0;
}
/* Custom styles */
.card.controls, .edit-panel-button {
  position: absolute;
  bottom: 2rem;
}
.card.controls {
  position: absolute;
  display: inline-block;
  background: rgba(255, 255, 255, 0.7);
  width: 80%;
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  .card.controls {
    font-size: 1rem;
    width: auto;
  }
}
canvas {
  width: 100vw;
  height: 100vh;
}
#editPanel {
  display: none;
}
.edit-panel-button {
  background: #fff;
  left: 1rem;
  padding: 0.5rem;
  border: 1px #eee solid;
  border-radius: 50%;
  transition: box-shadow .25s ease,
              padding .25s ease,
              border .25s ease;
}
.edit-panel-button:hover {
  box-shadow: none;
  cursor: pointer;
  border: 2px #ccc solid;
  padding: 0.65rem;
}