/* HTML reset */
html, body, canvas {
  padding: 0;
  margin: 0;
  color: #111;
}
/* Typography reset */
h1, h2, h3, h4, h5, h6, p, ul, ol, span {
  margin: 0;
  padding: 0;
}
/* Form styles */
label, input {
  display: block;
}
label {
  font-size: 2rem;
}
/* Hide mouse mass control
 * by default, we won't need it
 * unless the user wants to have
 * the particles follow the mouse. */
.mouse-mass {
  display: none;
}
/* Hide follow mouse control by
 * default since mobile users don't
 * have a mouse to follow. */
.follow-mouse {
  display: none;
}
/* Typography styles */
h2 {
  margin: 0 0 0.5rem 0;
}
/* Custom styles */
.card.controls, .edit-panel-button {
  position: absolute;
  bottom: 2rem;
  background: #fff;
}
.edit-panel-button, .close-button {
  border-radius: 50%;
}
.card.controls {
  position: absolute;
  display: inline-block;
  width: 80%;
}
div.card .card-content .card-title {
  float: left;
  margin-bottom: 1.5rem;
}
.close-button {
  float:right;
  padding:0.3rem;
  cursor:pointer;
  transition: background .25s ease,
              color .25s ease;
}
.close-button:hover {
  background: #333;
  color: #fff;
}
canvas {
  width: 100vw;
  height: 100vh;
}
#editPanel {
  display: none;
}
.edit-panel-button {
  left: 1rem;
  padding: 0.75rem;
  border: 1px #eee solid;
  transition: box-shadow .25s ease,
              padding .25s ease,
              border .25s ease;
}
.edit-panel-button:hover {
  box-shadow: none;
  cursor: pointer;
  padding: 1rem;
}
/* Desktop styles */
@media only screen and (min-width: 768px) {
  .card.controls {
    font-size: 1rem;
    width: auto;
  }
  .follow-mouse {
    display: block;
  }
}